@font-face{
    font-family: theFont;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    font-family: theFont;
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(234, 29%, 20%);
}
.container{
    display: grid;
    grid-template-columns: 1.2fr 1fr; /* left: 40%, right: 60% ish */
    grid-template-areas: 
    "image" "text";
    /* not sure why its fliped around */
    width: 800px;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
}
.text {
    /* grid-column: 2; */
    grid-area: "text";
}
.img {
    /* grid-column: 1; */
    grid-area: "image";
}
.divImage img{
    width: 100%;
    height: 100%;
}
ul{
    /* list-style-image: url(./assets/images/icon-success.svg);
    list-style-type: circle; */
    list-style-type: none;
    padding: 0;
    gap: 50px;
}
li{
    position: relative;
    padding: 10px 30px;    
}
/* place chackmarks */
li::before { 
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px; 
    width: 350;
    padding-left: 10px;
    gap: 50px;
    background-image: url(./assets/images/icon-success.svg); 
    background-size: contain; 
    background-repeat: no-repeat; 
}
form{
    display: grid;
    gap: 10px; 
    width: auto;

}
label {
    color: black;
    font-size: small;
}
input {
    padding: 10px 20px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%);
}
button {
    font-family: inherit;
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: hsl(235, 18%, 26%);
}
button:hover {
    background-color: hsl(4, 100%, 67%);
    transition: all 1s;
}
h1 {
    font-size: 50px;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}
p{
    font-weight: 400;
    font-size: 16px;
}
.hide {
    display: none;
}
.pop-ups{
    background-color: white;
    width: 400px;
    padding: 40px;
    border-radius: 5px;
}
.pop-ups h1 {
    font-size: 40px;
}
.icon-pop-ups{
    width: 50px;
}
.pop-ups button {
    width: 100%;
}
  @media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
      width: 95%;
      padding: 20px;
    }
    .text, .divImage{
      grid-column: 1;
    }
    .divImage img {
      content: url("./assets/images/illustration-sign-up-mobile.svg");
    }
    form {
      width: 100%;
    }
    h1 {
      font-size: 30px;
    }
    .pop-ups {
      min-height: 100vh;
    }
  }
/* TO DO:
Fix 
Fix dismiss button
Get img come om top */